body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#todo-app{
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
#task-input{
    width: 100px;
    padding: 10px 20px;
    background-color:  navy;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

ul{
    list-style-type: none;
    padding: 0;
}
li{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.task-text{
    flex-grow: 1;
}

.delete-button{
    margin-left: 10px;
    padding: 4px 8px;
    background-color: #f55766;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}